
@{
    ViewBag.Title = "Профиль";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3">
                <img class="img-circle img-responsive" alt="Фото" src="../Home/image.jpg" styles="height:200px; width:200px">
                <br>
                <p>@Html.ActionLink("Мои рецепты", "MyRecipies", "Home")</p>
                <p>@Html.ActionLink("Избранное", "Favorites", "Home")</p>

            </div>

            <div class="col-md-9">
                <form role="form">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="col-md-2">Логин</label>
                            <p class="col-md-8">Какой-то логин</p>
                            <div class="col-md-2"></div>
                        </div>

@*                        <div class="form-group">*@
@*                            <label class="col-md-2">Пароль</label>*@
@*                            <div class="col-md-6">*@
@*                                <input type="password" class="form-control">*@
@*                            </div>*@
@**@
@*                        </div>*@

                        <div class="form-group">

                            <label class="col-md-2">Email</label>
                            <p class="col-md-6">hahah@gmail.com</p>
                            <button class="col-md-1 btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>

                            @*                            <div class="col-md-6">*@
                            @*                                <input type="text" class="form-control">*@
                            @*                            </div>*@
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Дата регистрации</label>
                            <p class="col-md-6">@DateTime.Now.Date</p>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label class="col-md-2">Имя</label>
                            <p class="col-md-6">Катя</p>
@*                            <div class="col-md-6">*@
@*                                <input type="text" class="form-control">*@
@*                            </div>*@
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Пол</label>
                            <p class="col-md-6">Женский</p>
@*                            <div class="col-md-6">*@
@*                                <input type="text" class="form-control">*@
@*                            </div>*@
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Возраст</label>
                            <p class="col-md-6">25</p>
@*                            <div class="col-md-6">*@
@*                                <input type="text" class="form-control">*@
@*                            </div>*@
                        </div>


                    </div>
                </form>


                </div>

        </div>
    </div>
</div>
