
@{
    ViewBag.Title = "Избранное";
}

<div class="container">
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Избранное</h2><br>
        <div class="col-md-3 text-center">
            <img class="img-rounded img-responsive"  alt="Картинка" src="http://fb.ru/misc/i/gallery/38228/1412636.jpg" >
            <h2>Название</h2>
            <p>Краткое описание</p>
            <p><a class="btn btn-default" href="Recipe/5" role="button">Подробнее »</a></p>
        </div>
        <div class="col-md-3 text-center">
            <img class="img-rounded img-responsive"  alt="Картинка" src="http://fb.ru/misc/i/gallery/38228/1412636.jpg" >
            <h2>Название</h2>
            <p>Краткое описание</p>
            <p><a class="btn btn-default" href="Recipe/5" role="button">Подробнее »</a></p>
        </div>
        <div class="col-md-3 text-center">
            <img class="img-rounded img-responsive"  alt="Картинка" src="http://fb.ru/misc/i/gallery/38228/1412636.jpg" >
            <h2>Название</h2>
            <p>Краткое описание</p>
            <p><a class="btn btn-default" href="Recipe/5" role="button">Подробнее »</a></p>
        </div>
        <div class="col-md-3 text-center">
            <img class="img-rounded img-responsive"  alt="Картинка" src="http://fb.ru/misc/i/gallery/38228/1412636.jpg" >
            <h2>Название</h2>
            <p>Краткое описание</p>
            <p><a class="btn btn-default" href="Recipe/5" role="button">Подробнее »</a></p>
        </div>
    </div>
</div>
</div>