@{
    ViewBag.Title = "Главная страница";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h2>Добро пожаловать на сайт, посвященный домашней кухне!</h2>
                <p class="lead">Красивое описание, которое появится, когда придет вдохновение :)</p>

            </div>

            @*по 4 в строке, можно просто последовательно добавлять для каждого*@
            <div class="col-md-3 text-center">
                <img class="img-rounded img-responsive" alt="Картинка" src="http://fb.ru/misc/i/gallery/38228/1412636.jpg" >
                <h3>$Название</h3>
                <p>$Краткое описание</p>
                <p><span class="glyphicon glyphicon-heart"></span> $5</p>
                <p><a class="btn btn-default" href="Recipe/5" role="button">Подробнее »</a></p>
            </div>


        </div>
    </div>
</div>