@{
    ViewBag.Title = "Главная страница";
}
@model HomeKitchen.Models.KitchenContext
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h2>Добро пожаловать на сайт, посвященный домашней кухне!</h2>
                <p>Наш сайт поможет каждому найти и приготовить блюдо по его вкусу. Благодаря удобному поиску рецепта по тегам и названию, фотографиям блюд, подробному описанию приготовления можно легко найти наиболее подходящий рецепт. Кроме того, зарегистрированный пользователь может добавлять рецепты в избранное, добавлять свои рецепты, оценивать рецепты других пользователей. Также сайт обладает некоторыми элементами социальной сети и позволяет оставлять комментарии к рецептам.</p>

            </div>
        </div>
    </div>
    <div class="row white-panel">
        <div class="col-md-12">

            @*по 4 в строке, можно просто последовательно добавлять для каждого*@

            @{
                foreach (var recipe in Model.Recipies.Take(25))
                {
                    <div class="col-md-3 text-center">
                        <img class="img-rounded img-responsive" alt="Картинка" src="@recipe.PhotoUrl">
                        <h3>@recipe.Name</h3>
                        <p>@recipe.Preview</p>
                        <p>
                            <span class="glyphicon glyphicon-heart"></span> @recipe.RecipeRating.Sum(i => i.Rating)</p>
                        <p>
                            <a class="btn btn-default" href="/Home/Recipe/@recipe.Id" role="button">Подробнее »</a>
                        </p>
                    </div>
                }
            }




        </div>
    </div>
</div>