
@{
    ViewBag.Title = "Мои рецепты";
}
@model HomeKitchen.Models.User

<div class="container">
    <div class="row white-panel">
        <div class="col-md-12">
            <h2 class="text-center">Мои рецепты</h2><br>

            <div class="form-group text-center">
                <a class="btn btn-default " href="NewRecipe">Новый рецепт</a>
            </div>
            <br>

            @*по 4 в строке, можно просто последовательно добавлять для каждого*@
            @{
                foreach (var recipe in Model.Recipies)
                {
                    <div class="col-md-3 text-center">
                        <img class="img-rounded img-responsive" alt="Картинка" src="@recipe.PhotoUrl">
                        <h3>@recipe.Name</h3>
                        <p> @recipe.Preview</p>
                        <p>
                            <span class="glyphicon glyphicon-heart"></span> @recipe.RecipeRating.Sum(i => i.Rating)</p>
                        <p>
                            <a class="btn btn-default" href="Recipe/@recipe.Id" role="button">Подробнее »</a>
                        </p>
                    </div>
                }
            }


        </div>
    </div>
</div>