
@{
    ViewBag.Title = "Рецепты";
}

<script>
    $(document).ready(function() {
        $.getJSON('GetRecipies',
            function(data) {
                fill(data);
            });
    });

    function fill(data) {
        var container = document.getElementById("listRecipies");
        container.innerHTML = "";


        var i = 0;
        $.each(data,
            function(key, val) {
                var img = document.createElement('img');
                img.classList.add("img-rounded");
                img.classList.add("img-responsive");
                img.setAttribute('alt', "Картинка");
                img.setAttribute('src', val['PhotoUrl']);
//                img.style.width = '140px';
//                img.style.height = '140px';

                var h2 = document.createElement('h2');
                h2.innerText = val['Name'];

                var p = document.createElement('p');
                p.innerText = val['Preview'];

                var p2 = document.createElement('p');
                p2.innerText = "";
                var span = document.createElement('span');
                span.classList.add("navbar-left");
                span.classList.add("glyphicon");
                span.classList.add("glyphicon-heart");
                p2.appendChild(span);
                var span2 = document.createElement('span');
                span2.classList.add("navbar-left");
                span2.innerText = " $5 ";
                p2.appendChild(span2);
                var span1 = document.createElement('span');
                span1.classList.add("navbar-right");
                span1.classList.add("glyphicon");
//                span1.classList.add("glyphicon-star"); // избранное
                span1.classList.add("glyphicon-star-empty"); // не избранное
                p2.appendChild(span1);

                var br = document.createElement('br');

                var a = document.createElement('a');
                a.classList.add('btn');
                a.classList.add('btn-default');
                a.setAttribute('href', 'Recipe/' + val['Id']);
                a.setAttribute('role', 'button');
                a.innerText = 'Подробнее >>';
                var p1 = document.createElement('p');
                p1.innerText = "";
                p1.appendChild(a);

                container.appendChild(img);
                container.appendChild(h2);
                container.appendChild(p);
                container.appendChild(p2);
                container.appendChild(br);
                container.appendChild(p1);

                i++;


            });
    }

    function sendTags() {
        $.post('GetRecipies',
            $("#search").serialize(),
            function(data) {
                console.log(data);
                fill(data);
            });
    }


</script>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel-group" id="accordion">
                <form name="search" id="search">
                    @{

                        foreach (var category in Model)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#@category.Name">@category.Name</a>
                                    </h4>
                                </div>
                                <div id="@category.Name" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        @{
                                            foreach (var tag in category.Tags)
                                            {
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="@tag.Name" name="tags">@tag.Name</label>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                    }
                </form>
            </div>
        </div>

        <div class="col-md-9">

            <form class="navbar-form">
                <div class="btn-group input-group">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Поиск">
                    </div>
                    <div class="form-group input-group-btn ">
                        <button class="btn btn-default" type="button" onclick="sendTags()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
            <br>

            <div class="col-md-4 text-center">
                <div id="listRecipies">

                </div>
            </div>

        </div>
    </div>

</div>




